<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <MudNavLink class="nav-title" Size="Size.Large" Href="/" Icon="@Icons.Material.Filled.ListAlt">New World</MudNavLink>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" Href="/" Icon="@Icons.Material.Filled.Domain">Головна</MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" Href="/employees" Icon="@Icons.Material.Filled.PeopleAlt">Працівники</MudNavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
